body {
    font-family: Georgia, serif; 
    color: indigo
}
img {
    width: 25px; 
    height: 25px;
    float: left;
    margin: 10px;
}
.red-dot { 
    height: 15px; width: 15px; 
    background-color: #d00; 
    border-radius: 40%; 
    display: inline-block; 
    vertical-align: middle
}
.orange-dot { 
    height: 15px; 
    width: 15px; 
    background-color: #f80; 
    border-radius: 40%; 
    display: inline-block; 
    vertical-align: middle
}
.yellow-dot { 
    height: 15px; 
    width: 15px; 
    background-color: #fd0; 
    border-radius: 40%; 
    display: inline-block; 
    vertical-align: middle
}
.green-dot { 
    height: 15px; 
    width: 15px; 
    background-color: #0e0;
    border-radius: 40%; 
    display: inline-block; 
    vertical-align: middle
}
.grey-dot { 
    height: 15px; 
    width: 15px; 
    background-color: #ccc; 
    border-radius: 40%; 
    display: inline-block; 
}
.red-bar { background-color: #d00; height: 5px; padding: 0px }
.orange-bar { background-color: #f80; height: 5px; padding: 0px }
.yellow-bar { background-color: #fd0; height: 5px; padding: 0px }
.green-bar { background-color: #0c0; height: 5px; padding: 0px }
.grey-bar { background-color: #ccc; height: 5px; padding: 0px }
h1, h4 {text-align: center; margin: 2px;}
table { font-size: small; border: 1px solid lightgrey; width: 100%; border-collapse: collapse; }
th { border: 1px solid lightgrey; background-color: peachpuff; text-align: left; }
td { border-top: 1px solid lightgrey; border-bottom: 1px solid lightgrey; }
tr:nth-child(even) { background-color:papayawhip }    
tr:hover { background-color:peachpuff; }
.header { 
    font-size: medium; 
    border: none; 
    background-color: #ffffff; 
    padding: 5px; 
    overflow: hidden; 
    margin-bottom: 5px; 
}
.header:hover { background-color: #ffffff; }
#toggleBtn { 
    background-color: #777;
    border: none;
    color: white;
    width: 250px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; 
}
.collapsible { 
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 99%;
    border: none;
    text-align: left;
    outline: none;
    font-size: medium;
    border-radius: 4px; 
}
.active, .collapsible:hover { background-color: #555; }
.collapsible:after { content: "\002B";color: white;float: left;margin-right: 10px; }
.active:after { content: "\2212"; }
.content { 
    padding: 0 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
    margin-bottom: 5px; 
}
.description{ padding: 10px;font-style: italic; }
.area { 
    font-size: larger; 
    font-weight: bold; 
    margin-left: 40px;
    margin-bottom: 15px; 
    margin-top: 15px;
}
